*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
img{
  width: 100%;
}
.container{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
/* utility*/
.white{
  color: white;
}
.gray{
  color: gray;
}
.margin-price{
  margin-left: 5px;
}
.gray-line{
  text-decoration: line-through;
  color: gray;
}
.red{
  color: red;
}
/*header*/
header{
  background-color: #ff6900;
}
.nav-text{
  width: 40%;
}
a{
  color: white;
  text-decoration: none;
}
li{
  list-style: none;
}
.logo{
  width: 20%;
}
.nav-icon{
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.flex-top{
  margin-bottom: 50px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.flex-ul{
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.flex-ul-txt{
  width: 40%;
  display: flex;
  justify-content: space-between;
}
/*main*/
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.labels{
  position: absolute;
  left: 0;
  bottom: 20px;

}
.card{
  position: relative;
}
.cards{
  margin-bottom: 35px;
  width: 32%;
}
.cardb{
  display: none;
  position: absolute;
  top: 0;
}

.cards:hover .cardb{
  display: block;
}

.discount{
  font-size: 0.9rem;
  width: 4%;
  color: white;
  padding: 1px 4px;
  background-color: red;
}
.quality{
  font-size: 0.9rem;
  width: 8%;
  color: white;
  padding: 1px 4px;
  background-color: rgb(0, 220, 77);
}

#heart{
  padding: 20px;
  background-color: rgb(255, 255, 255);
  right: 0;
  top: 20px;
  position: absolute;
}
#heart:hover{
  color: red;
}
/*footer*/
.flex-footer{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-back{
  background-color: #1a1a1a;
}
.legal{
  width: 85%;
}
.footer-ul{
  margin-top: 5px;
  width: 53%;
    display: flex;
    justify-content: space-between;
}
.find{
  width: 15%;
}
.flex-icon{
  margin-top: 5px;
  width: 65%;
  display: flex;
  justify-content: space-between;
}