*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
}
.container{
  width: 80%;
  max-width: 1000px;
  margin: 40px auto;
}
/* utility*/
.gray{
  color: gray;
}
.margin-price{
  margin-left: 5px;
}
.gray-line{
  text-decoration: line-through;
  color: gray;
}
.red{
  color: red;
}
/*main*/
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.labels{
  position: absolute;
  left: 0;
  bottom: 20px;

}
.card{
  position: relative;
}
.cards{
  margin-bottom: 35px;
  width: 32%;
}
.cardb{
  display: none;
  position: absolute;
  top: 0;
}

.cards:hover .cardb{
  display: block;
}

.discount{
  font-size: 0.9rem;
  width: 4%;
  color: white;
  padding: 1px 4px;
  background-color: red;
}
.quality{
  font-size: 0.9rem;
  width: 8%;
  color: white;
  padding: 1px 4px;
  background-color: rgb(0, 220, 77);
}

i{
  padding: 20px;
  background-color: rgb(255, 255, 255);
  right: 0;
  top: 20px;
  position: absolute;
}
